$font-family-header: 'Poppins', sans-serif;
$font-family-text: 'Nunito', sans-serif;
$font-size-header: 4em;
$font-size-text: 15px;

// Color
$background: #F5F6F8;
$white: #FFFFFF;
$line: #DEDEDE;
$form: #A5ADBD;
$header: #2C2C2C;
$text: #585757;
$cta: #F15757;
$cta-hover: #CF4949;
$default: #585757;
$danger: #FC7070;
$warning: #FF9D3B;
$warning-hover: #E98D31;
$info: #42B1F1;
$info-hover: #3298D3;
$primary: #52BD76;
$primary-hover: #47a667;
$highlightdefault: #818181;
$highlightwarning: #FDC084;
$highlightinfo: #77C8F7;
$highlightdanger: #FF9797;